#header {
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 2vw;
}

#topRightButtons {
  display: flex;
  flex-direction: row;
  font-size: 15px;
}

#topRightButtons > a {
  margin: 0vw 1vw;
  color: black;
}

#logo {
  font-size: 15px;
  color: #4fa790;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 93vh;
  width: 100vw;
  background-image: url("../images/background.jpg");
  background-size: cover;
}

#main > h1 {
  margin: 4vh 0vh 0vh 0vh;
  color: white;
  font-size: 50px;
}

#main > h4 {
  margin: 4vh 0vh;
  color: white;
  font-size: 30px;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

h1 {
  margin: 0;
}

#boxContainer {
  display: flex;
  flex-direction: row;
  gap: 12vw;
}

.whitebox {
  background-color: white;
  height: 40vh;
  width: 18vw;
  border-radius: 8px;
  padding: 3vh 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.greyInput {
  background-color: #f2f3f3;
  width: 100%;
  height: 40px;
  border-radius: 6px;
  border-width: 0;
  padding: 3px;
  font-size: 20px;
}

#greySeparator {
  background-color: #bdbebe;
  width: 100%;
  height: 2px;
}

#date {
  margin-top: 7vh;
}

#searchButton {
  margin-top: auto;
  background-color: #4fa790;
  color: white;
  height: 5vh;
  width: 100%;
  border-radius: 8px;
  border-width: 0;
  font-size: 20px;
}

.rightIcon {
  width: 70%;
}

#greenSeparator {
  background-color: #4fa790;
  width: 100%;
  height: 2px;
  margin: 4vh;
}

.oneResult {
  background-color: #f7f1f0;
  width: 100%;
  height: 40px;
  border-radius: 6px;
  border-width: 0;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 15px;
  margin-bottom: 2vh;
}

.bookButton {
  background-color: #4fa790;
  color: white;
  height: 70%;
  width: 20%;
  border-radius: 5px;
  border-width: 0;
  font-size: 15px;
}
